<%=link_to 'CREATE A NEW PRODUCT', new_product_path%>

<div class="table-responsive">

<table class="table table-striped table-sm">
    <thead>
      <tr>
          <th>Status</th>
          <th>Season</th>
          <th>Style number</th>
          <th>Current sample</th>
          <th>Sample status</th>
          <th>Deadline</th>
          <th>#</th>
      </tr>
    </thead>

     <tbody>
        <%=render :collection => @products, :partial => 'product_td', :as => :product%>
    </tbody>

</table>
</div>
